NEXT_PUBLIC_WALRUS_PUBLISHER_URL=https://publisher.walrus-mainnet.walrus.space
NEXT_PUBLIC_WALRUS_EPOCHS=5
WALRUS_PUBLISHER_URL=https://publisher.walrus-mainnet.walrus.space
WALRUS_EPOCHS=5
TATUM_API_KEY=
NEXT_PUBLIC_PACKAGE_ID=
NEXT_PUBLIC_REGISTRY_ID=
NEXT_PUBLIC_TATUM_SUI_RPC_ENDPOINT=sui-mainnet.gateway.tatum.io
NEXT_PUBLIC_SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
